@model Entities.Concrete.Information
@{
    ViewData["Title"] = "Information Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Information Update</h1>

@using (Html.BeginForm("InfoUpdate", "Information", FormMethod.Post))
{
<div class="form-group">
    <br />
    @Html.Label("InfoID")
    @Html.TextBoxFor(x => x.InfoID, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(x => x.UUID, new { @readonly = "readonly", @class = "form-control" })
    <br />
    @Html.Label("Telephone Number")
    @Html.TextBoxFor(x => x.Telephone_Number, new { @class = "form-control" })
    <br />
    @Html.Label("E_Mail")
    @Html.TextBoxFor(x => x.E_Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Location")
    @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
    <br />
    @Html.Label("Info")
    @Html.TextBoxFor(x => x.Info, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update</button>
</div>
}