@model Entities.Concrete.Information


@{
    ViewData["Title"] = "InfoAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>InfoAdd</h1>

@using (Html.BeginForm("InfoAdd", "Information", FormMethod.Post))
{
<div class="form-group">
    <br />
    @Html.Label("UUID")
    @Html.DropDownListFor(x => x.UUID, (List<SelectListItem>)ViewBag.vlc, new { @readonly = "readonly", @class = "form-control" })
    <br />
    @Html.Label("Telephone Number")
    @Html.TextBoxFor(x => x.Telephone_Number, new { @class = "form-control"})
    <br />
    @Html.Label("E_Mail")
    @Html.TextBoxFor(x => x.E_Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Location")
    @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
    <br />
    @Html.Label("Info")
    @Html.TextBoxFor(x => x.Info, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" href="/Contact/Contact/">Insert</button>
</div>
}

